body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.productContainer{
  width: 1000px;
  margin: 0 auto;

}

.products{
  background: linear-gradient(to right, #AB54F3 10%,#EA489A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}